#subscribe-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  transition: all 2s ease-out;
}

#subscribe-dialog {
  background-color: #fefefe;
  position: relative;
  height: 200px;
  width: 500px;
  box-shadow: 2px 2px 5px grey;
  padding-left: 20px;
  border-radius: 2px;
}

#subscribe-modal-close {
  outline: none;
  background: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  color: gray;
  font-size: 20px;
  cursor: pointer;
}

#subscribe-modal-header {
  color: #F86254;
  margin: 0;
  font-size: 30px;
  text-align: left;
  padding: 20px 0;
}

#subscribe-modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

#subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#subscribe-modal-desc {
  font-size: 20px;
  color: #393939;
}

#subscribe-modal-inputfield {
  display: flex;
  width: 100%;
}

#subscribe-modal-input {
  flex-grow: 1;
  background: #f1f1f1;
  color: #6E828A;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
}

#subscribe-modal-submit {
  color: #fefefe;
  background-color: #E75151;
  border: none;
  font-size: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 20px;
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;
}

#subscribe-modal-submit:hover {
  opacity: 0.75;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  #subscribe-dialog {
    height: 300px;
    width: 250px;
    padding: 0;
  }

  #subscribe-content {
    height: 100%;
    padding: 0 20px;
  }

  #subscribe-modal-header {
    padding-top: 40px;
    text-align: center;
    font-size: 22px;
  }

  #subscribe-modal-form {
    flex-grow: 1;
    align-items: center;
  }

  #subscribe-modal-desc {
    font-size: 15px;
    text-align: center;
  }

  #subscribe-modal-input {
    text-align: center;
    flex-grow: 0;
  }

  #subscribe-modal-inputfield {
    flex-direction: column;
  }

  #subscribe-modal-submit {
    margin: 10px 0;
  }

}
